$primary: #FF6D17;
$secondary: #408BEC;

@import '../vendors/bulma/bulma';

/* Global variables */
/* Base styles */
/* Header */
/* Main */
/* Projects */
/* Skills */
/* About */
/* Footer */
/* Contact info */
address {
    font-style: normal;
}
